<div class="responsive-container-block container">
  {{> errors success}}
  {{#if collaboration}}
  <div class="responsive-container-block">
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <h1 class="section__title">Editing <span class="orange">Collaboration</span></h1>
      <div class="card">
        {{#if isLoggedIn}}
        <div class="cross">
          <form action="/collaborations/{{collaboration.id}}/delete" method="POST"
            class="wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12">
            <label for="input-label">
              <button class="removeBg" title="Delete"><i class="icon icon-delete click"></i></button>
            </label>
          </form>
        </div>
        {{/if}}
        <div class="team-image-wrapper">
          <img src="{{collaboration.profileImageLink}}" class="team-member-image" />
        </div>
        <p class="text-blk name">{{collaboration.name}}
        </p>
        <p class="text-blk position">{{collaboration.position}}
        </p>
        <p class="text-blk feature-text">{{collaboration.paragraph}}
        </p>
        <div class="social-icons">
          <a href="{{collaboration.twitterLink}}" class="click" target="_blank">
            <img src="https://img.icons8.com/avantgarde/344/twitter.png" class="twitter-icon" />
          </a>
          <a href="{{collaboration.facebookLink}}" class="click" target="_blank">
            <img src="https://img.icons8.com/avantgarde/344/facebook-new.png" class="facebook-icon" />
          </a>
        </div>
        {{#if isLoggedIn}}
        <div class="arrow-wrapper">
          <form action="/collaborations/{{collaboration.id}}/update" method="GET"
            class="wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12">
            <label for="from-input">
              <button class="removeBg" title="Update"><i class="icon icon-edit click"></i></button>
            </label>
          </form>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  {{/if}}
</div>