<div class="responsive-container-block container">
  {{#if collabs.length}}
  <p class="text-blk team-head-text">
    My <span class="orange">Collaboration's!</span>
  </p>
  <div class="responsive-container-block">
    {{#each collabs}}
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img src="{{profileImgLink}}" class="team-member-image" />
        </div>
        <p class="text-blk name">{{name}}
        </p>
        <p class="text-blk position">{{position}}
        </p>
        <p class="text-blk feature-text">{{paragraph}}
        </p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img src="{{this.socialLink1}}" class="twitter-icon" />
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img src="{{this.socialLink2}}" class="facebook-icon" />
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <img src="{{this.socialLink3}}" class="facebook-icon" />
          </a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
  {{#if isLoggedIn}}
  <div class="btn-wrapper">
    <button class="btn btn-primary">
      <a href="/createCollab" class="wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12">Create</a>
    </button>
  </div>
  {{/if}}
  {{#else}}
  <p class="text-blk team-head-text">
    Coming Soon!
  </p>
  {{#if isLoggedIn}}
  <div class="btn-wrapper">
    <button class="btn btn-primary">
      <a href="/createCollab" class="wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12">Create</a>
    </button>
  </div>
  {{/if}}
  {{/else}}
</div>