<div class="responsive-container-block container">
  {{#if Collabs.length}}
  <p class="text-blk team-head-text">
    My <span class="orange">Collaboration's!</span>
  </p>
  <div class="responsive-container-block">
    {{#each Collabs}}
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img src="{{profileImgLink}}" class="team-member-image" />
        </div>
        <p class="text-blk name">{{name}}
        </p>
        <p class="text-blk position">{{position}}
        </p>
        <p class="text-blk feature-text">{{paragraph}}
        </p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img src="{{this.socialLink1}}" class="twitter-icon" />
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img src="{{this.socialLink2}}" class="facebook-icon" />
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <img src="{{this.socialLink3}}" class="instagram-icon" />
          </a>
        </div>
      </div>
    </div>
    {{/each}}
    {{#if isLoggedIn}}
    <div class="btn-wrapper">
      <form action="/collaboration/create" method="GET" class="wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12"
        enctype="multipart/form-data">
        <input class="input-group-btn" type="submit" value="Create">
      </form>
    </div>
    {{/if}}
  </div>
  {{else}}
  <p class="text-blk team-head-text">
    Coming <span class="orange">Soon!</span>
  </p>
  {{#if isLoggedIn}}
  <div class="btn-wrapper">
    <form action="/collaboration/create" method="GET" enctype="multipart/form-data">
      <input class="input-group-btn" type="submit" value="Create">
    </form>
  </div>
  {{/if}}
  {{/if}}
</div>