<section id="projects">
	<div class="container">
		<div class="row">
			{{#if Projects.length}}
			<h1 class="section__title">
				Here are my
				<span class="orange">projects</span>
			</h1>
			<ul class="project__list">
				{{#if isLoggedIn}}
				<div class="crud-wrapper">
					<div class="crud">
						<form action="/projects/create" method="GET" enctype="multipart/form-data">
							<input class="input-group-btn" type="submit" value="Create">
						</form>
					</div>
				</div>
				{{/if}}
				{{#each Projects}}
				<li class="project">
					<div class="project__wrapper">
						<img class="project__img" src="/public/Images/{{bgImage}}" />
						<div class="project__wrapper--bg"></div>
						<div class="project__description">
							<h3 class="project__description--title">
								{{title}}
							</h3>
							<h4 class="project__description--sub-title">
								{{subtitle}}
							</h4>
							<p class="project__description--para">
								{{description}}
							</p>
							<a href="/projects/{{id}}" class="nav__link--anchor link__hover-effect
								link__hover-effect--black">View Project</a>
						</div>
					</div>
					{{#if isLoggedIn}}
					<div class="crud-wrapper">
						<div class="crud">
							<form action="/projects/{{id}}/update" method="POST" enctype="multipart/form-data">
								<input class="input-group-btn" type="submit" value="Update">
							</form>
						</div>
					</div>
					{{/if}}
				</li>
				{{/each}}
			</ul>
			{{else}}
			<h1 class="section__title">
				Projects will be added
				<span class="orange">soon!</span>
			</h1>
			{{#if isLoggedIn}}
			<div class="crud-wrapper ">
				<div class="crud">
					<form action="/projects/create" method="GET" class="centered" enctype="multipart/form-data">
						<input class="input-group-btn" type="submit" value="Create">
					</form>
				</div>
			</div>
			{{/if}}
			{{/if}}
		</div>
</section>