<section id="projects">
	<div class="container">
		{{#if projects.length}}
		<div class="row">
			<h1 class="section__title">
				Here are some of my
				<span class="orange">projects</span>
			</h1>
			<ul class="project__list">
				{{#each projects}}
				<li class="project">
					<div class="project__wrapper">
						<img class="project__img" src="/public/Images/{{bgImage}}" />
						<div class="project__wrapper--bg"></div>
						<div class="project__description">
							<h3 class="project__description--title">
								{{title}}
							</h3>
							<h4 class="project__description--sub-title">
								{{subtitle}}
							</h4>
							<p class="project__description--para">
								{{description}}
							</p>
						</div>
					</div>
					<div class="crud">
						<form action="/createProject" method="GET">
							<input class="bg-error" type="submit" value="Create">
						</form>
						<form action="/deleteProject/{{projects.id}}" method="POST">
							<input class="bg-error" type="submit" value="Delete">
						</form>
					</div>
				</li>
				{{/each}}
			</ul>
			{{else}}
			<h1 class="section__title">
				Projects will be added
				<span class="orange">soon!</span>
			</h1>
			{{#if isLoggedIn}}
			<div class="crud">
				<form action="/createProject" method="GET">
					<input class="" type="submit" value="Create">
				</form>
				<form action="/deleteProject/{{this.id}}" method="GET">
					<input class="" type="submit" value="Delete">
				</form>
				<h1 class="section__title">
					Projects will be added
					<span class="orange">soon!</span>
				</h1>
			</div>
			{{/if}}
			{{/if}}
		</div>
</section>